models/
figures/
Checkpoints/

EEG-preprocessing/ignore
Generation/ignore
decoded_latent_imgs/
eeg_image_reconstruction_results/

Data/
Evaluation/

__pycache__/
*.pyc

*.log

venv/
env/
node_modules/

.vscode/
.idea/

*.tmp
*~